<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.huibanbackend.mapper.AttendMapper">
    

    <!--
    插入参加会议
    int insertConf(AttendList attendList);
    -->
    <insert id="insertConf" parameterType="attendList">
        insert into attendlist (email, category, academic_id)
        values (#{email}, #{category}, #{academicId});
    </insert>



    <!--
    删除参加会议
    int deleteConf(String conferenceId);
    -->
    <delete id="deleteConf" >
        delete from attendlist
        where academic_id=#{conferenceId} and email=#{email}
    </delete>



<!--    &lt;!&ndash;-->
<!--    批量删除参加信息-->
<!--    int deleteBatch(List<Integer> list);-->
<!--    &ndash;&gt;-->
<!--    <delete id="deleteBatch" parameterType="java.util.List">-->
<!--        delete from attendlist-->
<!--        where id in-->
<!--        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">-->
<!--            #{item}-->
<!--        </foreach>-->
<!--    </delete>-->


</mapper>



