<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.huibanbackend.mapper.CommentMapper">
    <!--添加一个评论 -->
    <insert id="saveComment"  parameterType="comment">
        insert into comment (image_url, user_name, comment_time, content, category, academic_id, parent_id)
        values (#{imageUrl}, #{userName}, #{commentTime}, #{content}, #{category}, #{academicId}, #{parentId})
    </insert>

    <!--查询父级评论-->
    <select id="findByParentId" resultType="comment">
        select *
        from comment c
        where c.parent_id=#{parentId}
        order by c.comment_time desc
    </select>

    <!--查询一级回复-->
    <select id="findByCommentId" resultType="comment">
        select *
        from comment c
        where c.parent_id=#{id}
        order by c.comment_time desc
    </select>

    <!--查询二级以及所有子集回复-->
    <select id="findByReplyId" resultType="comment">
        select *
        from comment c
        where c.parent_id=#{childId}
        order by c.comment_time desc
    </select>
</mapper>
