<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.huibanbackend.mapper.FollowListMapper">



    <!--
    插入关注会议
    int insertConf(FollowList followList);
    -->
    <insert id="insertConf" parameterType="followList">
        insert into followlist (email, category, academic_id)
        values (#{email}, #{category}, #{academicId});
    </insert>

    <!--
    插入关注期刊
    int insertJour(FollowList followList);
    -->
    <insert id="insertJour" parameterType="followList">
        insert into followlist2 (email, category, academic_id)
        values (#{email}, #{category}, #{academicId});
    </insert>

    <!--
    删除关注会议
    int deleteConf(String conferenceId);
    -->
    <delete id="deleteConf" >
        delete from followlist
        where academic_id=#{conferenceId} and email=#{email}
    </delete>

    <!--
    删除关注期刊
    int deleteJour(String journalId);
    -->
    <delete id="deleteJour" >
        delete from followlist2
        where academic_id=#{journalId} and email=#{email}
    </delete>


<!--    &lt;!&ndash;-->
<!--    批量删除关注信息-->
<!--    int deleteBatch(List<Integer> list);-->
<!--    &ndash;&gt;-->
<!--    <delete id="deleteBatch" parameterType="java.util.List">-->
<!--        delete from followlist-->
<!--        where id in-->
<!--        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">-->
<!--            #{item}-->
<!--        </foreach>-->
<!--    </delete>-->


</mapper>



