<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.huibanbackend.mapper.FollowListMapper">

    <!--
    按照email查询关注的会议/期刊
    List<FollowList> getByEmail(String email);
    -->
    <select id="getByEmail" parameterType="string" resultType="followList">
        select id, category, academic_id
        from followlist
        where email=#{email}
    </select>

    <!--
    按照email和category查询关注的会议/期刊
    List<FollowList> getByCategory(String email, String category);
    -->
    <select id="getByCategory" >
        select id, category, academic_id
        from followlist
        where email=#{email} and category=#{category}
    </select>


    <!--
    插入关注信息
    int insert(FollowList followList);
    -->
    <insert id="insert" parameterType="followList">
        insert into followlist (email, category, academic_id)
        values (#{email}, #{category}, #{academicId});
    </insert>

    <!--
    删除关注信息
    int delete(Integer id);
    -->
    <delete id="delete" parameterType="int">
        delete from followlist
        where id=#{id}
    </delete>

    <!--
    批量删除关注信息
    int deleteBatch(List<Integer> list);
    -->
    <delete id="deleteBatch" parameterType="java.util.List">
        delete from followlist
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>


</mapper>



