<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.huibanbackend.mapper.JournalMapper">
    <sql id="selectShowColumns">
        select id, journal_id, ccf_rank, sub,impact_factor, publisher, cite_score
        from journal c
    </sql>
    
    <sql id="selectDetailColumns">
        select id, journal_id, ccf_rank, sub, dblp_link, mainpage_link, follow_num, impact_factor, publisher, topic_details, cite_score
        from journal c
    </sql>

    <!--
    查询最受欢迎的5个期刊
    List<JournalDetail> getPopularList();
    -->
    <select id="getPopularList" resultType="journalDetail">
        select journal_id, follow_num
        from journal
        order by follow_num desc
        limit 5
    </select>


    <!--
   查询所有期刊信息(期刊展示页)
   List<JournalShow> getAllShow();
   -->
    <select id="getAllShow" resultType="journalShow">
        <include refid="selectShowColumns"/>
    </select>

    <!--
   按照期刊id查询期刊(期刊展示页)
   JournalShow getById(String journalId);
   -->
    <select id="getById" parameterType="string" resultType="journalShow">
        <include refid="selectShowColumns"/>
        where c.journal_id=#{journalId}
    </select>

    <!--
   按照ccf等级查询期刊(期刊展示页)
   List<JournalShow> getByCCFRank(String ccfRank);
   -->
    <select id="getByCCFRank" parameterType="string" resultType="journalShow">
        <include refid="selectShowColumns"/>
        where c.ccf_rank=#{ccfRank}
    </select>


    <!--
    按照期刊领域查询期刊(期刊展示页)
    List<JournalShow> getBySub(String sub);
    -->
    <select id="getBySub" parameterType="string" resultType="journalShow">
        <include refid="selectShowColumns"/>
        where c.sub=#{sub}
    </select>

    <!--
    查询所有期刊详情信息(期刊详情页)
    List<JournalDetail> getAllDetail();
    -->
    <select id="getAllDetail" resultType="journalDetail">
        <include refid="selectDetailColumns"/>
    </select>

    <!--
   按照id查询期刊详情(期刊详情页)
   JournalDetail getDetailById(String journalId);
   -->
    <select id="getDetailById" parameterType="string" resultType="journalDetail">
        <include refid="selectDetailColumns"/>
        where c.journal_id=#{journalId}
    </select>

    <!--
   插入期刊信息
   int insert(Journal journal);
   -->
    <insert id="insert" parameterType="journal">
        insert into journal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="journalId != null and journalId != ''">journal_id,</if>
            <if test="ccfRank != null and ccfRank != ''">ccf_rank,</if>
            <if test="sub != null and sub != ''">sub,</if>
            <if test="dblpLink != null and dblpLink != ''">dblp_link,</if>
            <if test="mainpageLink != null and mainpageLink != null">mainpage_link,</if>
            <if test="followNum != null">follow_num,</if>
            <if test="impactFactor != null">impact_factor,</if>
            <if test="publisher != null and publisher != ''">publisher,</if>
            <if test="topicDetails != null and topicDetails != ''">topic_details,</if>
            <if test="citeScore != null">cite_score</if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="journalId != null and journalId != ''">#{journalId},</if>
            <if test="ccfRank != null and ccfRank != ''">#{ccfRank},</if>
            <if test="sub != null and sub != ''">#{sub},</if>
            <if test="dblpLink != null and dblpLink != ''">#{dblpLink},</if>
            <if test="mainpageLink != null and mainpageLink != null">#{mainpageLink},</if>
            <if test="followNum != null ">#{followNum},</if>
            <if test="impactFactor != null">#{impactFactor},</if>
            <if test="publisher != null and publisher != ''">#{publisher},</if>
            <if test="topicDetails != null and topicDetails != ''">#{topicDetails},</if>
            <if test="citeScore != null">#{cite_score}</if>
        </trim>
    </insert>



    <!--
    删除期刊
    int delete(Integer id);
    -->
    <delete id="delete" parameterType="string">
        delete from journal
        where journal_id=#{journalId}
    </delete>

    <!--
    更新期刊信息
    int update(Journal journal);
    -->
    <update id="update" parameterType="journal">
        update journal set
        <if test="ccfRank != null and ccfRank != ''">ccf_rank=#{ccfRank},</if>
        <if test="sub != null and sub != ''">sub=#{sub},</if>
        <if test="dblpLink != null and dblpLink != ''">dblp_link=#{dblpLink},</if>
        <if test="mainpageLink != null and mainpageLink != ''">mainpage_link=#{mainpageLink},</if>
        <if test="followNum != null">follow_num=#{followNum},</if>
        <if test="impactFactor != null">impact_factor=#{impactFactor},</if>
        <if test="publisher != null and publisher != ''">publisher=#{publisher},</if>
        <if test="topicDetails != null and topicDetails != ''">topic_details=#{topicDetails},</if>
        <if test="citeScore != null ">cite_score=#{citeScore}</if>
        where journal_id=#{journalId}

    </update>

    <!--
    更新收藏数(增加）
    int addFollowNum(String journalId);
    -->
    <update id="addFollowNum">
        update journal set
            follow_num = follow_num + 1
        where journal_id=#{journalId}
    </update>

    <!--
    更新收藏数(减少）
    int subFollowNum(String journalId);
    -->
    <update id="subFollowNum">
        update journal set
            follow_num = follow_num - 1
        where journal_id=#{journalId}
    </update>





</mapper>